html,
body {
  font-family: "Roboto", sans-serif;
}

::-moz-selection {
  background-color: #00d1b2;
  color: white;
}
::selection {
  background-color: #00d1b2;
  color: white;
}

.navbar {
  background-color: rgba(74, 74, 74, 0.3);
}

.navbar-menu {
  background-color: transparent;
}

.navbar-item {
  color: white;
}

.navbar-link.is-active,
.navbar-link:hover,
a.navbar-item.is-active,
a.navbar-item:hover {
  transition-duration: 0.5s;
  color: #4a4a4a;
  background-color: transparent;
}

.button.is-primary.is-hovered,
.button.is-primary:hover,
.button.is-light.is-hovered,
.button.is-light:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#fullpage {
  background: url(https://picsum.photos/1080/600?image=10) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  color: white;
  font-weight: bold;
}

input.input::-webkit-input-placeholder {
  color: #4a4a4a;
}

input.input::-moz-placeholder {
  /* Firefox 19+ */
  color: #4a4a4a;
}

input.input:-ms-input-placeholder {
  /* IE 10+ */
  color: #4a4a4a;
}

input.input:-moz-placeholder {
  /* Firefox 18- */
  color: #4a4a4a;
}

.box {
  margin-top: 5rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.5);
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5),
    0 0 0 1px rgba(10, 10, 10, 0.5);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.5);
}

.field .control .input {
  font-weight: 300px;
}

/*No arrows in inputs*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  #title {
    font-size: 40px;
  }
}
