html,
body {
  font-family: "Roboto", sans-serif;
}

::-moz-selection {
  background-color: #00d1b2;
  color: white;
}

::selection {
  background-color: #00d1b2;
  color: white;
}

.navbar,
.navbar-brand,
.navbar-menu {
  background-color: rgba(74, 74, 74, 0.5);
}

.navbar-item,
.navbar-link {
  font-weight: 500;
  color: white;
}

.navbar-link.is-active,
.navbar-link:hover,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-item.has-dropdown.is-active .navbar-link,
a.navbar-item.is-active,
a.navbar-item:hover,
.navbar-dropdown a.navbar-item.is-active,
.navbar-dropdown a.navbar-item:hover {
  transition-duration: 0.5s;
  color: white;
  background-color: rgba(74, 74, 74, 0.5);
}

.navbar-dropdown {
  background-color: rgba(74, 74, 74, 0.5);
  color: white;
  border-top: none;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: white;
}

.navbar-burger,
.navbar-burger:hover {
  color: white;
}

.button.is-primary.is-hovered,
.button.is-primary:hover,
.button.is-light.is-hovered,
.button.is-light:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

#fullpage {
  background: url(/static/img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
  color: white;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: 400;
  padding-bottom: 0.5em;
}

input.input::-webkit-input-placeholder,
textarea.textarea::-webkit-input-placeholder {
  color: #4a4a4a;
}

input.input::-moz-placeholder,
textarea.textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #4a4a4a;
}

input.input:-ms-input-placeholder,
textarea.textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #4a4a4a;
}

input.input:-moz-placeholder,
textarea.textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #4a4a4a;
}

.box {
  margin-top: 5rem;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.5);
}

.card-header,
.card-content {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.5);
}

.avatar {
  margin-top: -70px;
  padding-bottom: 20px;
}

.avatar-profile {
  margin-top: -127px;
  padding-bottom: 20px;
}

.avatar img,
.avatar-profile img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5),
    0 0 0 1px rgba(10, 10, 10, 0.5);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.5), 0 0 0 1px rgba(10, 10, 10, 0.5);
}

.field .control .input,
.field .control .select,
.field .control .textarea {
  -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.5);
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.5);
  border-radius: 4px;
}

/*No arrows in number inputs*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.columns {
  margin: 0;
}

.overlay-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.background-cover {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-color: #00ffd9;
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  #title {
    font-size: 40px;
  }
}
